[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gsignal"]
	path = gsignal
	url = https://github.com/gjmvanboxtel/gsignal
	shallow = true
	registered = true
